In [36]:
import pandas as pd
import numpy as np
threshold = 5
def bookslot(plate_number ):
    csv_file = pd.read_excel("plat_to_model.xlsx")
        
    csv_file = csv_file.values
    attributes =[]
    print(csv_file)
                #loop through csv list
    number =plate_number 
    for row in csv_file:
                    #if current rows 2nd value is equal to input, print that row
        if number == row[0]:
            attributes = row
            break

    if(  attributes[1] ==  "car" ): # check vechicle type
        if(threshold < attributes[2]):
            load_slot_data  = pd.read_excel("slots_for_large_cars.xlsx" )

            array = load_slot_data.values
            if(array.shape[0] == 0 ):
                return "Full Parking !!"
            slot = array[0]
#             print(array)
#             print(slot)
            array = array[1:]
            arrray = np.array(array)
            frame = pd.DataFrame(array)
            frame.to_excel("slots_for_large_cars.xlsx",index=False)
            return slot
        else:
            load_slot_data  = pd.read_excel("slots_for_small_cars.xlsx")

            array = load_slot_data.values
               
            if(array.shape[0] == 0 ):
                load_slot_for_large_car  = pd.read_excel("slots_for_large_cars.xlsx")
                array2 = load_slot_for_large_car.values
                if(array2.shape[0] == 0 ):
                    return "Full Parking !!"
                else:
                    return "Extra charges may apply"
            slot = array[0]
#             print(array)
#             print(slot)
            array = array[1:]
            arrray = np.array(array)
            frame = pd.DataFrame(array)
            frame.to_excel("slots_for_small_car.xlsx",index=False)
            return slot

In [37]:
a= ["s1","s2","s3","s4","s5"]
frame = pd.DataFrame(a)
frame.head()
frame.to_excel("slots_for_large_cars.xlsx",index=False)

In [38]:
frame

    0
0  s1
1  s2
2  s3
3  s4
4  s5

In [39]:
def giveSlot(Plate):
    slot = bookslot(Plate)
    
    ll =list(pd.read_excel("plate_nos.xlsx").values)
    s=time.localtime()
    ll.append((Plate ,int(s[3]*60+s[4]) , slot[0]))
    array = np.array(ll)
    frame = pd.DataFrame(array)
    frame.to_excel("plate_nos.xlsx",index=False)
    
    ll = [slot]
    array = np.array(ll)
    frame = pd.DataFrame(array)
    frame.to_excel("slot.xlsx",index=False)
    print(slot)

In [34]:
giveSlot("DL123")

[['DL123' 'car' 6]]
['s1']

In [35]:
import time

In [46]:
s=time.localtime()

In [29]:
type(s)

time.struct_time

In [34]:
s[4]

15

In [19]:
text ="hj ghjk"

In [20]:
text=text.replace(" ","")

In [21]:
text

'hjghjk'